
/*个人信息*/
.person-info{
	width: 80%;
	height: 250px;
	margin: 30px auto 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #e4e0d7;
	/*border: 1px solid #ccc;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.person-info p{
	font-size: 15px;
	margin-top: 10px;
	color: #695c4c;
	position: relative;
	font-weight: 600;

}

.person-info a{
	text-decoration: none;
	color: #26291d;
	font-size: 16px;
}


.person-info .name{
	width: 150px;
	height: 50px;
	padding: 10px 100px;
	background-color: #66756b;
	color: white;
	font-weight: 600;
	font-size: 16px;
}

.set{
	width: 18%;
	display: flex;
	justify-content: flex-end;
	top: -25%;
	right: -40%;
	margin: 0px !important;
}

.edit{
	width: 125px;
	height: 28px;
	padding:3px 16px;
	border: 2px solid #66756b;
	border-radius: 4px;
	font-size: 13px !important;
	text-align: center;
	min-width: 125px;
	max-width: 150px;
	margin-right: 2px;
	transition: all 0.5s;
}

.edit:hover{
	background-color: #66756b;
	color: white;
}

.set-icon{
	width: 29px;
	height: 29px;
}

.person-info .sex{
	line-height: 36px;
	/*margin-top: 15px;*/
	margin-left: -15px;
	color: #4b4d52;
	font-size: 16px;
	font-weight: 600;
}

.person-info #sex-pic{
	width: 27px;
	height: 27px;
	margin-top: 5px;
	margin-left: 5px;
	position: absolute;
}

.person-info .contact{
	height: 280px;
	width:100%;
	margin-bottom: 10px;
	background-color: #fafafa;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-indent: 40%;
	padding-bottom: 15px;
}

.adress-icon,
.call-icon,
.major-icon {
	width: 25px;
	height: 25px;
	background-size: cover;
	background-position: center;
	position: absolute;
	left: 37.1%;
	top:-10%;
}

.adress-icon{
	background-image: url(../img/adress.png);
}

.call-icon{
	background-image: url(../img/call.png);
}

.major-icon{
	background-image: url(../img/major.png);
}

/*选项卡*/
.card-btn{
	width: 80%;
	/*border: 1px solid #ccc;*/
	margin: 0px auto;
	display: flex;
	justify-content: flex-start;
}

.card-btn span{
	margin-right: 50px;
	margin-top: -2px;
	padding-top: 5px;
	font-size: 16px;
	color: gray;
	font-weight: 600;
	cursor: pointer;
}



.card-btn .active , .card-btn span:hover{
	border-top: 2px solid #4b4d52;
	padding-top: 4px;
}

/*我的书摊*/
.card-btn {
	position: relative;
}

#sell-book,
#ask-book {
	width: 80%;
	height: auto;
	margin:10px auto;
}

#ask-book{
	display: none;
}

.upload-icon{
	width: 30px;
	height: 30px;
	background-image: url(../img/upload.png);
	background-size: cover;
	background-position: center;
	position: absolute;
	right: 12%;
	top: 3px;
}
.card-btn a{
	text-decoration: none;
	padding: 4px 10px;
	border: 2px solid #ae6d6a;
	background-color: white;
	color: #ae6d6a;
	border-radius: 3px;
	position: absolute;
	right: 0px;
	margin-top: 3px;
}

.card-btn a:hover{
	border: 1px solid #ae6d6a;
	background-color: #ae6d6a;
	color: white;	
}

#ask-upload{
	display: none;
}

.book-ul{
	width: 100%;
	height: auto;
	/*border: 1px solid #ccc;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex-direction: row;
	padding-left: 20px;
	margin-top: 35px;
}

.book-list{
	width: 30%;
	min-width: 30%;
	height: 320px;
	overflow: hidden;
	border: 1px solid #eae1d2;
	margin-right: 35px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: 30px;
	position: relative;
}

.book-pic{
	width: 80%;
	height: 180px;
	border-bottom: 1px solid gray;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin:2px auto;
}

.book-pic img{
	margin:auto;	
	width: 150px;
}

.book-name{
	width: 100%;
	line-height: 26px;
	text-align: center;
	font-size: 17px;
	color: #ae6d6a;
}

.book-detail{
	width: 100%;
	height: 34px;
	line-height: 18px;
	margin-top: 10px;
	text-indent: 15%;
	color: #272222d6;
	font-size: 14px;
	word-wrap:break-word;
}
.book-detail p{
	line-height: 22px;
}

.book-price,.orinal-price{
	width: 100%;
	height: 34px;
	font-size: 15px;
	line-height: 20px;
	color: #880b16;
}

.edit-btn{
	width: 34px;
	height: 34px;
	background-image: url(../img/edit.png);
	background-size: cover;
	background-position: center;
	position: absolute;
	right: 0px;
	cursor: pointer;
}
