/*标题*/
.titleName{
	width: 100%;
	height: 60px;
	background-color: #4b4d52;
	color: white;
	font-family: tahoma,"microsoft yahei" !important;
	display: flex;
	flex-direction: row;
}

.titleName h3{
	font-weight: 500;
	font-size: 26px;
	margin-left: 4%;
	margin-top: 1%;
}

.titleName p{
	margin-top: 2%;	
	margin-left: 32px;
	font-size: 14px;
}

/*正文*/
.container{
	width: 80%;
	height: auto;
	margin:15px auto;
	padding: 20px;
	/*border: 1px solid #e4e0d7;*/
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/*align-items: center;*/
}

.ask{
	height: 300px;
	justify-content: space-around;

}

form{
	height: 580px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.container p{
	width: 60%;
	margin-left: 10%;
	font-size: 15px;
	/*margin: 5px auto;*/
}
.container span{
	width: 35px;
	height: 35px;
	background-size: cover;
	background-position: center;
	color: #ccc;
}

.container input{
	border-radius: 5px;
	border: 1px solid #ccc;
	height: 25px;
	width: 320px;
	/*text-indent: 5px;*/
}

.pic-icon{
	background-image: url(../img/book.png);
}

.name-icon{
	background-image: url(../img/rename.png);
}

.author-icon{
	background-image: url(../img/author.png);
}

.press-icon{
	background-image: url(../img/press.png);
}

.time-icon{
	background-image: url(../img/time.png);
}

.version-icon{
	background-image: url(../img/version.png);
}

.condition-icon{
	background-image: url(../img/condition.png);
}

.orign-icon{
	background-image: url(../img/orign.png);
}

.price-icon{
	background-image: url(../img/price.png);
}

.desc-icon{
	background-image: url(../img/desc.png);
}

 p:last-child input{
 	height: 100px !important;
 }

.submit-btn{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 150px !important;
	height: 40px !important;
	background-color: #8e9c83;
	color:white;
	font-size: 17px;
}

#modal-dialog{
	width: 300px;
	height:130px;
	background-color: #ccc;
	position: relative;
	top: 50%;
	/*bottom: 40%;*/
	left: 50%;
	/*margin: 0 auto;*/
	margin-top: -30px;
	margin-left: -150px;
	border: 1px solid #8e9c83;
	border-radius: 5px;
	background: white;
	text-align: center;
	line-height:40px;
	padding: 25px 20px;
	font-size: 16px;
	font-weight: 600;
}

.modal-close{
	width: 75%;
	height: 40px;
	border: 1px solid #8e9c83;
	border-radius: 5px;
	padding: 4px;
	margin: 10px auto 0px;
	background-color: #4b4d52;
}
.modal-close img{
/*	position: absolute;
	right: 2px;
	top: 2px;*/
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.modal-close-icon{
	position: absolute;
	right: 3px;
	top: 3px;
	width: 20px;
	height: 20px;
	cursor: pointer;	
}


/*/编辑页面*/
#book-pic{
	width: 200px;
	height: 200px;
	background-color: white;
	position: absolute;
	right: 180px;
	background-size: cover;
	background-position: center;
	border:1px solid #ccc;
	border-radius: 7px;
	/*box-sizing: border-box;*/
	
}
