*{
	padding: 0px;
	margin: 0px;
	font-family: Microsoft Yahei;
	box-sizing: border-box;
}
/*navbar*/
.navbar{
	height: 200px;
	width: 100%;
	background-color: white;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.nav-info{
	height: 40px;
	background-color: #4b4d52;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.nav-search{
	height: 100px;
	width: 100%;
	/*background-color: gray;*/
	display: flex;
	justify-content: flex-start;
	align-content: center;
	position: relative;
}

.nav-info a{
	text-decoration: none;
	/*color: white;*/
	color: #d6d2d2 !important;
	font-size: 13px;
	line-height: 40px;
	margin-left: 5px;
	margin-right:25px; 
}

.nav-info a:hover{
	color:white  !important;
}

.searchIn{
	width: 450px;
	height: 44px;
	border: 2px solid #4b4d52;
	position: absolute;
	left: 49%;
	top: 27%;
	outline: none;
	font-size: 16px;
	text-indent: 10px;
}

.searchBtn{
	width: 90px;
	height: 44px;
	border: 2px solid #3f4247;
	background-color: #4b4d52;
	position: absolute;
	right: 12%;
	top: 26.6%;
	/*padding-top: 9px;*/
	text-indent: 5px;
	outline: none;


}

.searchBtn a{
	text-decoration: none;
	text-align: center;
	color: white;
	font-size: 19px;	
}

.logo{
	width: 36%;
	margin-left: 6%;
}

.search-logo{
	text-decoration: none;
	color: #4b4d52;
	font-size: 30px;
	position: absolute;
	left: 45%;
	top: 27.5%;

}
.search-logo img{
	width: 21px;
	margin-left:-6px; 
}

.menu{
	width: 100%;
	height: 50px;
	list-style: none;
	display: flex;
	justify-content: flex-start;
	background-color: #f2f1ea;
	margin-bottom: 0px;
	padding-left: 11%;

}


.menu li{
	height: 50px;
	display: inline-flex;
	justify-content: space-around;
	/*margin-left: 140px;*/
	padding-top: 18px;
	margin-right: 100px; 

}
.menu a{
	text-decoration: none;
	color: #3f4247;
}

.menu li a.active{
	font-weight: 600;
	border: solid #b5aa9a; 
	border-width: 0 0 2px 0;
}

.menu li a:hover{
	font-weight: 600;
	border: solid #b5aa9a; 
	border-width: 0 0 2px 0;	
}

.bookstore-pic{
	width: 90%;
	height: 250px;
	margin: 10px auto;
	background-image: url(../img/bookStore.jpg);
	background-position:bottom;
	background-size: cover;
	opacity: 0.9;
}

.askBook-pic{
	width: 90%;
	height: 250px;
	margin: 10px auto;
	background-image: url(../img/askBook.jpg);
	background-position:center;
	background-size: cover;
	opacity: 0.9;	
}
/*图书分类*/
#container{
	width: 100%;
	/*height: auto;*/
	margin-bottom: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#book-menu{
	width: 180px;
	height: 290px;
	/*background: red;*/
	margin: 20px auto;
	position: fixed;
	left: -180px;
	/*left: 1px;*/
	top: 190px;
	z-index: 100;
	background: white;
	border: 2px  solid #8e9c83;
	border-radius: 6px; 
	transition: all 0.3s linear;
	cursor: pointer;
}

#book-menu-toggle{
	width: 35px;
	height: 130px;
	background-color: #8e9c83;
	border: 2px  solid #8e9c83;
	border-radius: 4px; 
	position: fixed;
	left: 1px;
	/*left: 178px;*/
	top: 211px;
	z-index: 100;
	padding: 10px 5px;
	transition: all 0.3s linear;
	color: white;
	cursor: pointer;
}


#toggle-btn{
	width: 25px;
	height: 25px;
	/*border: 1px solid #ccc;*/
	background-size: cover;
	background-position: center;
	background-image: url(../img/toggle1.png);
	z-index: 102;
	margin-left: -2px;
	cursor: pointer;
	/*margin-top: 25px;*/
	/*writing-mode:lr;*/
}

.book-class li{
    width: 150px;
    height: 28px;
    margin: 3px auto;
    padding-top: 5px;
    list-style: none;
    border-bottom: 1px solid #ccc;
}

.book-class li a{
    text-decoration: none;
    color: gray;
    text-align: left;
    font-size: 14px;
}
.book-class li a:hover{
	font-weight: 600;
}

#book-container{
	width: 80%;
	margin: 20px auto 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border-left: 1px solid #ccc;
	padding-bottom: 20px;
	padding-left: 20px;
	/*background: #ccc;*/
}

.askbook-container{
	margin-top: 30px !important;
}



.book-title{
	text-decoration: none;
	width: 97%;
	height: 38px;
	font-family: Microsoft Yahei;
	border-bottom: 1px solid #8e9c83;
	cursor: pointer;
	/*background: #8e9c83;*/
}
.book-title a{
	text-decoration: none;
	font-weight: 500;
	font-size: 20px;
	color: #4b4d52;	
	/*color: white;*/
}


.book-lists{
	width: 100%;
	height: auto;
	/*background-color: #ccc;*/
	display: flex;
	justify-content: flex-start;
	margin-top:15px; 
	margin-bottom:5px; 
	flex-wrap: wrap;
}

.book-list{
	/*width: 20%;*/
	min-width: 21%;
	height: 310px;
	overflow: hidden;
	border: 1px solid #eae1d2;
	margin-right: 25px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: 30px;
	position: relative;
}

.book-pic{
	width: 80%;
	height: 180px;
	border-bottom: 1px solid gray;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin:2px auto;
}

.book-pic img{
	margin:auto;	
	width: 150px;
}

.book-name{
	width: 100%;
	line-height: 26px;
	text-align: center;
	font-size: 17px;
	color: #ae6d6a;
}

.book-info{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	justify-content: center;

}

.askbook-info span{
	line-height: 23px;
	margin-left: 27px;
	color: #272222d6;
	font-size: 13px;
	word-wrap:break-word;
}

/*.book-name{
	line-height: 26px;
	margin-left: 27px;
	font-size: 17px;
	color: #ae6d6a;
}*/

.book-detail{
	width: 185px;
	height: 34px;
	line-height: 18px;
	margin-left: 27px;
	color: #272222d6;
	font-size: 13px;
	word-wrap:break-word;
}

.book-price{
	width: 100%;
	height: 34px;
	font-size: 17px;
	line-height: 60px;
	margin-left: 27px;
	color: #880b16;
}


.book-buy{
	width: 40px;
	height: 36px;
	padding: 5px;
	margin-left: 45px; 
	text-decoration: none;
	color: white;
	font-size: 13px;
	border: 1px solid #4b4d52;
	border-radius: 2px;
	background: #4b4d52;
}

.book-buy:hover{
	/*font-weight: 600;*/
	background-color: #626a55;
	border: 1px solid #626a55;
	font-weight: 600;
}

.book-contact{
	padding: 5px 10px;
	margin-top: 10px;
	margin-left: 45px; 
	text-decoration: none;
	color: white;
	font-size: 13px;
	border: 1px solid #4b4d52;
	border-radius: 2px;
	background: #4b4d52;	
}

.page-btn{
	margin: 2px auto !important;
}

.page-btn a{
	text-decoration: none;
	color: white;
	border:1px solid #5e626b;
	border-radius: 3px;
	background-color: #5e626b;
	/*width: 50px;*/
	/*height: 20px;*/
	text-align: center;
	padding: 10px 15px;
}

/*脚步*/
footer{
	border-top: 1px solid #ccc;
	width: 100%;
	height: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

footer a{
	text-align: center;
	font-size: 15px;
	/*margin-left: 30%;*/
	text-decoration: none;
	color: gray;
}